.property-detail{
    &__section{
       background-color: rgb(249, 247, 243);
    }
    &__container{
        padding: 16px;
        color:rgb(66, 65, 65);
        gap: 16px;
    }
    // &__title{
    //     padding: 16px;
        
        
    // }
    // &__row{
    //     display:flex;
    //     flex-direction: row;
    //     padding: 16px;
    //     align-items: center;
    //     background-color: white;
    //     border-radius: 0.5em;
    //     margin-left: 16px;
    //     margin-right:16px;
    // }
    // &__icon{
    //     text-align: center;
    // }
    // &__price{
    //     flex:1;
        
       
    //     h4{
    //         padding-bottom: 16px;
    //     }

    // }
    &__description{
        padding-top: 16px;
        background-color: white;
        border-radius: 0.5em;
        // margin: 16px;
        margin-bottom: unset;
        text-align: justify;
        p{
            color:rgb(113, 112, 112)
        }
        
        
    }
    // &__image{
    //     flex: 1;
    //     margin-left: 16px;
    //     img{
    //         height: 30rem;
    //         width: 40rem;
           
    //     }
        
    // }
}