@import "~bootstrap/scss/bootstrap";

.home{
    &-section{

    }
    &-container{
        
    }
    &-navigation{
        flex:1;
        background-color: rgb(204, 207, 201);
        color: rgb(90, 89, 89);
        text-align: center;
        height: 100px;
        padding-top: 20px;
    }
    &-heading{
        background-image:url("https://fairfieldproperties.com/wp-content/uploads/2018/05/W1505A_327.jpg");
        height:400px;
        text-align: center;
        padding-top: 20px;
        gap: 20px;
        h1{
            // align-items: center;
            margin-top: 30px;
            color: rgb(221, 211, 211);
        }
       
    }
    &-search{
           margin-top: 20px;
            &__bar{
            input{
                // left:50%;
                width: 600px;
                padding: 12px;
                height: 50px;
                border: none;
                border-radius: 1em 0em 0em 1em;
            }
           
           
        }
    }
}

    // &-heading{
    //     align-items: center;
    //     img{
    //         // width:fit-content;
    //         // height: 500px;
    //         position:absolute;
    //         // margin-top: (-22px);
    //     }
    //     h1{
    //         position: relative;
    //         left: 32%;
    //         color: rgb(221, 211, 211);
    //     }
    // }
    // &-search{
    //     margin-top: 150px;
    //     position: relative;
    //      left: 20%;
    //     flex-direction: row;
    //     &__bar{
    //     input{
    //         // left:50%;
    //         width: 600px;
    //         padding: 12px;
    //         height: 50px;
    //         border: none;
    //         border-radius: 1em 0em 0em 1em;
    //     }
    //     button{
    //         // position: absolute;
           
    //         top:5px;
    //         height: 50px;
    //         color: white;
    //         margin-bottom: 1px;
    //         width: 150px;
    //         border-radius: 0em 1em 1em 0em;
    //     }
    // }
    // }
    // &-properties{
    //     margin-left: 50px;
    //     margin-right: 50px;
    //     margin-bottom: 50px;
    //     padding: 8px;
    //     background-color:rgb(247, 241, 241);
    //     transform: translateY(83%);
    //     width: 400px;
    //     height:400px;

    // }

.service-div{
    margin-top: 20px;
    border: 1px solid rgb(229, 231, 231);
    margin-bottom: 20px;
}

.footer{

    
    &-container{
    height: 200px;
    background-color: rgb(224, 229, 227);
    text-align: center;
    padding-top: 50px;
    // position:fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    // z-index: 1;
 
    
    }
    &-details{
      span{
        margin-right: 20px;
      }
      p{
        margin-top: 20px;
      }
    }
}
.search{
    &-container{
        display: flex;
        flex-direction: row;
    }
    &-result{
        flex:1;
    }
    &-sorting{
        margin-top: 12px;
        text-align: right;
        flex:1
    
    }
}

